<?xml version="1.0"?>

<model>
  <name>Pothole</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Krishna Dihora</name>
    <email>kdihora@umich.edu</email>
  </author>

  <author>
    <name>Jason Ning</name>
    <email>zyning@umich.edu</email>
  </author>

  <description>
    Hopefully the pothole works
  </description>
</model>
